In [ ]:
import pandas as pd 
import numpy as np

# ISO 8859-1 OU UTF-8 SÃO ENCODING PRA CORREÇÃO

In [9]:
dt = pd.read_csv('C:\\Users\\wesle\\Documents\\dados\\Custos.csv', encoding= 'ISO-8859-1')

In [10]:
dt.head()

,Data,Produto,Serial number,Valor de Venda,Preço Custo,Duração Venda Telefone (mins),Tempo Preparação (mins)
0,19/03/2017,AX101,GF54309,68.71,34.36,17,11
1,27/02/2017,BX102,GF54425,53.57,29.46,26,11
2,2/3/2017,AX101,GF54381,68.71,37.79,27,20
3,28/03/2017,BX101,GF54527,30.06,13.53,17,23
4,3/3/2017,AX101,GF54695,68.71,35.73,0,20

In [15]:
dt['Preço Custo'].head() #especificando uma coluna

0    34.36
1    29.46
2    37.79
3    13.53
4    35.73
Name: Preço Custo, dtype: float64

In [16]:
dt.loc[0:]

,Data,Produto,Serial number,Valor de Venda,Preço Custo,Duração Venda Telefone (mins),Tempo Preparação (mins)
0,19/03/2017,AX101,GF54309,68.71,34.36,17,11
1,27/02/2017,BX102,GF54425,53.57,29.46,26,11
2,2/3/2017,AX101,GF54381,68.71,37.79,27,20
3,28/03/2017,BX101,GF54527,30.06,13.53,17,23
4,3/3/2017,AX101,GF54695,68.71,35.73,0,20
...,...,...,...,...,...,...,...
101,23/03/2017,DX101,GF54599,17.62,8.64,33,16
102,10/3/2017,BX103,GF54456,68.93,37.22,0,18
103,27/03/2017,AX102,GF54322,51.28,24.62,28,17
104,29/03/2017,DX102,GF54356,62.46,32.48,30,13
105,21/03/2017,AX102,GF54301,51.28,25.64,15,9